<!--
	
RENAME THIS TO:
Viva.plist

Example Plist for a Viva Extension
Put this file in the same folder as your Root.plist for prefs.

Icon image links are relative to YourTweakPrefs.bundle/
So if you have an image in the same folder as your root.plist, just put "imagename.png"

I'm not sure if at time of writing (2-28-2021) this that it supports absolute paths

It's worth clarifying here the "PostNotification" areas use the 
		CFNotificationCenter and not the defaultCenter. Specify the same
		thing here as you do in the preferences in your tweak. 
		It will behave as if a value was changed from Preferences.app

Hopefully I'll have official docs for this at some point
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pages</key>
	<array>
		<dict>
			<key>icon</key>
			<string>pane1.png</string>
			<key>topLabel</key>
			<string>Example Offset</string>
			<key>topControlType</key>
			<string>Slider</string>
			<key>topPreferenceKeyLink</key>
			<string>ExampleOffset</string>
			<key>topPostNotification</key>
			<string>sk.vri.viva/Prefs</string>
			<key>topMax</key>
			<real>100</real>
			<key>topMin</key>
			<real>0</real>
			<key>bottomLabel</key>
			<string>Example Counter</string>
			<key>bottomControlType</key>
			<string>Counter</string>
			<key>bottomPreferenceKeyLink</key>
			<string>ExampleCounter</string>
			<key>bottomPostNotification</key>
			<string>sk.vri.viva/Prefs</string>
			<key>bottomMax</key>
			<real>100</real>
			<key>bottomMin</key>
			<real>0</real>
		</dict>
		<dict>
			<key>icon</key>
			<string>pane2.png</string>
			<key>topLabel</key>
			<string>Example Switch</string>
			<key>topControlType</key>
			<string>Switch</string>
			<key>topPreferenceKeyLink</key>
			<string>ExampleSwitch</string>
			<key>topPostNotification</key>
			<string>sk.vri.viva/Prefs</string>
			<key>bottomControlType</key>
			<string>None</string>
		</dict>
	</array>
	<key>icon</key>
	<string>icon.png</string>
	<key>title</key>
	<string>Extension Name</string>
</dict>
</plist>
